CSS for Meesho component
.flexbox {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content:space-evenly;
    margin: 0 50px;
    overflow: hidden; 
    

  }
  
  .cards {
    width: 300px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
  }

 
  
  .cards img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  
  .cards h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .cards p {
    margin-bottom: 10px;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
  
  .rating-container .MuiRating-root {
    font-size: 16px;
    color: #ffc107; /* Star color for selected icons */
    overflow:hidden;
  }
  
  .rating-container .MuiRating-iconEmpty {
    color: #e0e0e0; /* Star color for empty icons */
    overflow:hidden;
  }
  

  
@media (max-width:600px) {
  .flexbox{
    padding-top: 125px;
  }
}